body {
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 600px;
  height: 100vh;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.createBtn {
  width: 100px;
  height: 40px;
  background-color: #ffaa46;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 20px;
  margin-top: -420px;
}
