.container {
  width: 600px;
  height: 100vh;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
}

.txtContainer {
  font-size: 18px;
  align-self: flex-start;
}

.txtWeather {
  margin-top: 110px;
}

.todayDate {
  background-color: #f3f3f3;
  border-radius: 5px;
  width: 95px;
  height: 25px;
  margin-top: 8px;
}

.txtEmotion {
  margin-top: 20px;
}

.txtHashtag {
  margin-top: 20px;
}

.txtDiary {
  margin-top: 20px;
}

.diaryContainer {
  width: 550px;
  height: 200px;
  border: none;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-top: 8px;
}

.registerBtn {
  width: 100px;
  height: 40px;
  background-color: #ffaa46;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-left: auto;
  justify-content: flex-end;
}

.emotionButtons {
  display: flex;
  justify-content: flex-start;
}

.emotionButton {
  font-size: 40px;
  width: 100px;
  height: 80px;
  margin-right: 12px;
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  background-color: #f3f3f3;
}

.emotionButton.selected {
  background-color: lightgreen;
}

.hashtagButtons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.hashtagButton {
  background-color: #f3f3f3;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.hashtagButton.selected {
  background-color: #ffb4b4;
}
